@tailwind base;
@tailwind components;
@tailwind utilities;

.Folder-link{
    display: flex;
    color: orange;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 20px;
}

#kill-interval{

    padding:20px;
    background-color: green;
    border-radius: 0.5rem;
    margin-left: 45rem;
    color: #fff;
    font-weight: 900;
}

#message{
    color: crimson;
    margin-left: 32rem;
    font-weight: 800;
    font-size: 20px;
    margin-top: 70px;
    margin-bottom: 20px;
    
}
